In [1]:
import pandas as pd

In [4]:
county16 = pd.read_csv("county_2020.csv")
county20 = pd.read_csv("county_2016.csv")

In [16]:
state16 = pd.read_csv("state_2016.csv")
state20 = pd.read_csv("state_2020.csv")

In [20]:
state20.head()

  state  year  state_num   dem_num   rep_num     vap  state_electoral_votes
0    AK  2004     324078  115490.0  197521.0  747494                      3
1    AK  2008     331335  126068.0  196377.0  747494                      3
2    AK  2012     308459  125721.0  169220.0  761679                      3
3    AK  2016     325748  120605.0  165574.0  762934                      3
4    AK  2020     349411  150155.0  185807.0  528248                      3

In [15]:
dem.sort_values('year',ascending=False)

,demographic,group,year,dem_frac,rep_frac,electorate_frac,num_nation,dem_margin,turnout
51,education,Some College to Post-Graduate,2016,0.5057,0.4225,0.6858,136670626,0.0832,0.7059
38,age,45 - 59,2016,0.4468,0.4800,0.3382,136670626,-0.0331,0.6590
15,race,Other,2016,0.5732,0.3147,0.0500,136670626,0.2585,0.4900
14,race,Hispanic,2016,0.6863,0.2388,0.0920,136670626,0.4475,0.4760
13,race,Non-Hispanic Black,2016,0.8999,0.0638,0.1240,136670626,0.8361,0.5930
12,race,Non-Hispanic White,2016,0.3938,0.5380,0.7330,136670626,-0.1442,0.6530
22,gender,male,2016,0.4548,0.4690,0.4628,136670626,-0.0142,0.5930
37,age,30 - 44,2016,0.5552,0.3460,0.2456,136670626,0.2092,0.5880
36,age,17 - 29,2016,0.5483,0.3515,0.1733,136670626,0.1968,0.4610
39,age,60 +,2016,0.4753,0.4947,0.2428,136670626,-0.0194,0.7030
49,education,Less Than High School,2016,0.7223,0.2777,0.0087,136670626,0.4447,0.3430
50,education,High School Grad,2016,0.4500,0.4870,0.3055,136670626,-0.0369,0.5160
23,gender,female,2016,0.5210,0.4191,0.5248,136670626,0.1018,0.6330
46,education,High School Grad,2012,0.5405,0.4398,0.3316,129254383,0.1007,0.5260
35,age,60 +,2012,0.5261,0.4436,0.3004,129254383,0.0825,0.7180
47,education,Less Than High School,2012,0.6904,0.2819,0.0135,129254383,0.4084,0.3800
48,education,Some College to Post-Graduate,2012,0.5039,0.4587,0.6447,129254383,0.0452,0.7130
34,age,45 - 59,2012,0.5125,0.4476,0.2959,129254383,0.0649,0.6690
33,age,30 - 44,2012,0.5714,0.3680,0.2642,129254383,0.2034,0.5950
32,age,17 - 29,2012,0.6257,0.3384,0.1394,129254383,0.2873,0.4500
1,race,Non-Hispanic Black,2012,0.9700,0.0300,0.1340,129254383,0.9400,0.6640
0,race,Non-Hispanic White,2012,0.4300,0.5700,0.7370,129254383,-0.1400,0.6410
21,gender,female,2012,0.5494,0.4306,0.5210,129254383,0.1188,0.6370
2,race,Hispanic,2012,0.7300,0.2700,0.0840,129254383,0.4600,0.4800
3,race,Other,2012,0.6100,0.3900,0.0450,129254383,0.2200,0.4900
20,gender,male,2012,0.4865,0.4699,0.4790,129254383,0.0166,0.5970
5,race,Non-Hispanic Black,2008,1.0000,0.0000,0.1240,131049863,1.0000,0.6520
7,race,Other,2008,0.8200,0.1800,0.0390,131049863,0.6400,0.4950
43,education,High School Grad,2008,0.5827,0.4076,0.3403,131049863,0.1751,0.5490
44,education,Less Than High School,2008,0.7581,0.2419,0.0146,131049863,0.5163,0.3940
45,education,Some College to Post-Graduate,2008,0.5082,0.4665,0.6413,131049863,0.0418,0.7400
6,race,Hispanic,2008,0.7300,0.2700,0.0740,131049863,0.4600,0.4990
31,age,60 +,2008,0.5049,0.4653,0.3398,131049863,0.0397,0.7080
18,gender,male,2008,0.5050,0.4679,0.4298,131049863,0.0371,0.6150
30,age,45 - 59,2008,0.5623,0.4234,0.2510,131049863,0.1388,0.6850
29,age,30 - 44,2008,0.6292,0.3507,0.2680,131049863,0.2785,0.6180
28,age,17 - 29,2008,0.6714,0.3257,0.1412,131049863,0.3457,0.5110
4,race,Non-Hispanic White,2008,0.4400,0.5600,0.7630,131049863,-0.1200,0.6610
19,gender,female,2008,0.5619,0.4237,0.5702,131049863,0.1382,0.6570
41,education,Less Than High School,2004,0.6522,0.3478,0.0471,122217180,0.3044,0.3950
42,education,Some College to Post-Graduate,2004,0.4797,0.5011,0.6563,122217180,-0.0214,0.7488
9,race,Non-Hispanic Black,2004,0.8900,0.1100,0.1120,122217180,0.7800,0.6030
40,education,High School Grad,2004,0.3937,0.5801,0.2966,122217180,-0.1865,0.5640
8,race,Non-Hispanic White,2004,0.4200,0.5800,0.7920,122217180,-0.1600,0.6720
10,race,Hispanic,2004,0.6100,0.3900,0.0600,122217180,0.2200,0.4720
11,race,Other,2004,0.3600,0.6400,0.0360,122217180,-0.2800,0.4800
16,gender,male,2004,0.4787,0.4919,0.5199,122217180,-0.0132,0.6210
17,gender,female,2004,0.4446,0.5449,0.4801,122217180,-0.1003,0.6540
27,age,60 +,2004,0.4451,0.5549,0.2980,122217180,-0.1097,0.7140
25,age,30 - 44,2004,0.5816,0.3732,0.2558,122217180,0.2084,0.6240
24,age,17 - 29,2004,0.4290,0.4123,0.1236,122217180,0.0167,0.4900
26,age,45 - 59,2004,0.4206,0.5794,0.3226,122217180,-0.1588,0.7000